
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='menuNCD.png')}}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""navbar-toggler-icon"></span>
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a>class="nav-link" href="">About Me</a>
                </li>
                <li class="nav-item">
                    <a>class="nav-link" href="">Services</a>
                </li>
                <li class="nav-item">
                    <a>class="nav-link" href="">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a>class="nav-link" href="">Contact Me</a>
                </li>

            </ul>
        </div>
    </nav>
</body>
</html>